$font-style: "Ubuntu Mono", monospace;
$primary-color: #6d578e;
$secondary-color: #cc4962;
$radial-gradient: radial-gradient(
  198.65% 273.43% at 75.58% 198.65%,
  #cc4962 0%,
  #6d578e 100%
);
$purple-gradient: radial-gradient(
  139.1% 139.1% at 6.4% 9.78%,
  #6d578e 0%,
  #4d2191 97.78%
);
