@import "./colors";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-style;
}

nav {
  height: 9vh;
  background: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1.9rem;
    transform: translateY(-100%);
    transition: all 0.4s;
    a:first-child {
      //   background: red;
      padding: 7.5vh 0px 10px 0px;
    }
    a {
      text-decoration: none;
      padding: 10px 0px;
    }
  }
}
.hamburger {
  position: relative;
  height: 6vh;
  width: 50px;
  margin-right: 1.2rem;
  .bar {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    height: 20%;
    transform: translateY(-50%);
    background: $primary-color;
    cursor: pointer;
  }
  //   content: "hello";
  &::after {
    position: absolute;
    content: "";
    right: 0px;
    left: 0px;
    background: $primary-color;
    bottom: 0px;
    height: 20%;
    cursor: pointer;
  }
  &::before {
    position: absolute;
    content: "";
    right: 0px;
    left: 0px;
    background: $primary-color;
    top: 0px;
    height: 20%;
    cursor: pointer;
  }
}
.nav-tabs {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 25vw;
  background: #fff;
}
.blob {
  display: none;
}
#left {
  height: 70vh;
  background: $purple-gradient;
  color: #fff;
  display: flex;
  align-items: flex-start;
  // justify-content: center;
  flex-direction: column;
  padding-left: 2.8rem;
  padding-top: 1rem;
  #line1 {
    font-size: 3rem;
    padding-bottom: 1.2rem;
  }
  #name {
    font-size: 4rem;
    span {
      display: block;
      padding-top: 1.2rem;
    }
  }
}
#right {
  // height: 21vh;
  // transform: translateY(-50%);
  position: absolute;
  top: 45vh;
  left: 0px;
  right: 0px;
  img {
    width: 100vw;
    height: 60vh;
  }
}
section {
  margin-top: 30vh;
}
