@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.second-page {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.card {
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background-color: #f3e0e1;
  padding: 10px 10px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  border: 3px solid black;
  text-align: center;
}

.card h3 {
  padding-bottom: 20px;
  font-size: 1.4rem;
}

.card p {
  font-size: 1.1rem;
}

.cards {
  position: relative;
}

.cards div:nth-child(1) {
  z-index: 3;
}

.cards div:nth-child(2) {
  z-index: 2;
}

.cards div:nth-child(3) {
  z-index: 1;
}

#trigger {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
}

#expanded {
  position: absolute;
  left: 5vw;
  top: 0px;
  bottom: 0px;
  width: 90vw;
  z-index: 100;
}

#close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 5.4vw;
  z-index: 101;
  display: none;
}

.inner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-card .overview,
.inner-card .image {
  width: 50%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e61e6), to(#14429c));
  background-image: linear-gradient(#1e61e6, #14429c);
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 15vh;
}

body nav img {
  width: 70px;
  height: 50px;
  margin: 10px 5vw;
}

body nav .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #f2d519;
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-size: 1.2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
}

.main-div .intro {
  margin-left: 5vw;
  color: #f2d519;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.main-div .intro .hey {
  font-size: 2rem;
  cursor: default;
  -webkit-animation-name: OnLoad1;
          animation-name: OnLoad1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.main-div .intro .name {
  font-size: 5.2rem;
  cursor: default;
  -webkit-animation-name: OnLoad2;
          animation-name: OnLoad2;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.main-div .intro .description {
  font-size: 1.7rem;
  margin-top: 40px;
  cursor: default;
  -webkit-animation-name: OnLoad3;
          animation-name: OnLoad3;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 22%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@-webkit-keyframes OnLoad1 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes OnLoad1 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes OnLoad2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes OnLoad2 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes OnLoad3 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes OnLoad3 {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=style.css.map */