@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "secondslide";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#1e61e6, #14429c);
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15vh;
    img {
      width: 70px;
      height: 50px;
      margin: 10px 5vw;
    }
    .contents {
      display: flex;
      list-style: none;
      color: #f2d519;
      font-family: "Poppins", sans-serif;
      width: 60%;
      font-size: 1.2rem;
      justify-content: space-evenly;
    }
  }
}
.main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  .intro {
    margin-left: 5vw;
    color: #f2d519;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    .hey {
      font-size: 2rem;
      cursor: default;
      animation-name: OnLoad1;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      transform: translateX(-200%);
    }
    .name {
      font-size: 5.2rem;
      cursor: default;
      animation-name: OnLoad2;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;

      transform: translateX(-200%);
    }
    .description {
      font-size: 1.7rem;
      margin-top: 40px;
      cursor: default;
      animation-name: OnLoad3;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
      transform: translateX(-200%);
    }
  }
}
.social-media {
  display: flex;
  text-decoration: none;
  list-style: none;
  width: 22%;
  justify-content: space-evenly;
}
@keyframes OnLoad1 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes OnLoad2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes OnLoad3 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
